body{
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
}

.bg-none{
    background: none;
   
}
:root{
    --color-black : black;
    --color-parper :  #DB4444;

}
.color-perpar{
    color: var(--color-parper);
}
.bg-black{
    color: var(--color-black);
}
.color-black{
    color: var(--color-black);
}

ul li{
    list-style: none;
}
.borde{
    width: 15px;
    height: 30px;
    background-color: var(--color-parper);
    display: flex;
    border-radius: 15%;
    align-items: center;
}
.line{
 
    height: 2px;
    background-color: #afaaaa;
    position: absolute;
}

.size{
    line-height: 2.5;
    margin-top: 20px;
    border-bottom: none;
}

.aside-right{
    background-image: url(../image/hero_endframe__cvklg0xk3w6e_large\ 2.png);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:bottom ;
}
.aside-right-2{
    background-image: url(../image/2.PNG);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:bottom ;
}
.aside-right-3{
    background-image: url(../image/3.PNG);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:bottom ;
}
.aside-right-4{
    background-image: url(../image/4);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:bottom ;
}
.aside-right-5{
    background-image: url(../image/5.PNG);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:bottom ;
}
.max{
    max-width:220px;
   
}


.height{
    line-height: 1.5;
    font-size: 35px;
   
}

.letter-spacting{
    letter-spacing: 3px;
}

